<%= provide(:title, @url.url ) %>

<br>

<p><strong>Original URL:</strong> <%= @url.url %> </p>

<p><strong>Shortened link:</strong> <%= link_to @url.url_id, redirect_path %> </p>

<p><strong>Status:</strong> <% if @url.status %>Private<% else %>Public<% end %> </p>
